@font-face {
    font-family: 'MyFont';
    src: url('@/../public/fonts/Poppins/Poppins-Black.ttf');
    src: url('@/../public/fonts/Poppins/Poppins-Bold.ttf'),
         url('@/../public/fonts/Poppins/Poppins-ExtraBold.ttf'),
         url('@/../public/fonts/Poppins/Poppins-Medium.ttf'),
         url('@/../public/fonts/Poppins/Poppins-Thin.ttf');
    font-weight: normal;
    font-style: normal;
  }

#app {display: flex; flex-wrap: wrap;
    header {color : #666; font-family: 'Poppins'; width: 100%; display: block;
        .header_wrap {width: 100%; height: 8.5rem; background-color: #F6FAFC; z-index: 10; position: fixed; transform: translateX(-50%); left: 50%;
            transition: .3s all; border-bottom: 1px solid #ddd; 
            .main_menu {display: flex; font-size: 2rem; width: 60rem; justify-content: space-around; top: 0; padding-top: 3rem; position: absolute; 
                left: 50%; transform: translate(-50%,-0%);
                li {position: relative; cursor: pointer;;
                    &>ul {position: absolute; margin-top: 1.5rem; visibility: hidden;}
                }
            }
            &:hover {width: 100%; height: 18.5rem; overflow: hidden;
                .main_menu {
                    li {
                        ul {visibility: visible;}
                    }
                }
            }
            .logo {position: fixed; z-index: 12; top: 2rem; left: .5rem; width: 20rem; display: none;}
            .main_menu2 {display: flex;font-size: 2.5rem; margin-right: 2rem;
                justify-content: space-around; background-color: #fff; height: 5.4rem; align-items: center; 
                li {cursor: pointer; color: #000; margin-left: 2rem;
                    &.sch {position: relative; display: flex; align-items: center; background: #ddd;
                        .xi-search {position: absolute; top: .8rem; right: .6rem; color: #808080; font-size: 2.2rem;}
                    }
                    button {width: 3rem; background: none; color: #000;}
                }
                select {width: 10rem; font-size: 1.3rem; border-radius: .5rem; height: 1.5rem;}
            }
            &.type2 {display: flex; justify-content: space-between; height: 5.5rem; transition: .3s all; background: #fff; align-items: center; padding-left: 6rem;
                &:hover {height: 5.5rem;}
                &.type3 {display: none;}
            }
        }
    } 
    nav {width: 15rem; background-color: #F6FAFC; padding: 2rem .8rem; height: 100vh; z-index: 11; position: fixed; top: 8.4rem;
        &>img {margin-bottom: 2rem;}
        &>ul>li {color: #727374; font-family: 'Poppins', sans-serif; font-weight: 700; font-size: 1.8rem; position: relative; width: fit-content;
            &:first-child {
                &::after {display: block; content: ''; width: .5rem; height: .5rem; border-radius: 50%; background: #fff; position: absolute;
                    top: .25rem; right: -.75rem;
                }
            }
            &.red {
                &::after {background: red;}
            }
            &.yellow {
                &::after {background: rgb(243, 219, 1);}
            }
            ul,li {font-weight: 300; font-size: 1.4rem; color: #727374;}
        }
        &.type2 {width: 5rem; top: 0rem; background: #000;display: flex; align-items: end; flex-wrap: wrap; justify-content: center;
            .main_menu2 {display: flex; justify-content: center; flex-wrap: wrap; align-items: end; left: 50%; top: auto; bottom: 0;
                li {color: #ddd; font-size: 2.5rem; padding: 1rem 0; cursor: pointer;
                    img {width: 2rem; height: 2rem;}
                    &::after {display: none !important;}
                }
                &.type2 {position: absolute; top: 8rem; bottom: auto; left: 1.5rem; width: 2rem;
                    .sub_menu {position: absolute; display: flex; padding: 1.5rem; background: #000; border-radius: .5rem; margin-top: -1rem; margin-left: -25rem;
                        transition: .3s all; margin-top: -53px;
                        li {
                            select {font-size: 1.6rem; color: #000; border-radius: .5rem;}
                        }
                        &.active {margin-left: 3rem;}
                    }
                }
            }
            .logo_s {position: absolute; top: 1.5rem; width: 2rem; left: 50%; transform: translateX(-50%); cursor: pointer;}
        }
    }
    #wrap {display: flex; flex-wrap: wrap;
        .cursor_pointer {cursor: pointer;}
        .board {width: 100%; background-color: #F6F6F6; border: 1px solid #ddd; border-top: none; padding: 1rem; min-height: calc(100% - 6.5rem); 
            margin-top: 8.5rem; margin-left: 15rem;
            &.type2 {margin-left: 5rem; margin-top: 5.5rem; padding-top: 2rem;
                &.type3 {margin-top: 0;}
            }
        }
        .space {margin: 1.5rem; padding: 2rem; border: 1px solid #ddd; display: flex; width: fit-content; 
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  max-width: calc(100% - 3rem);
            .condition {display: flex; width: 40rem; justify-content: space-evenly; margin: 1rem 0;
                .item {position: relative; width: 1.5rem; height: 1.5rem; cursor: context-menu;
                    .state {overflow: hidden; position: relative; width: 1.5rem; height: 1.5rem; border-radius: 50%;
                        .mark {width: 11.5rem; height: 1.5rem; background: linear-gradient(90deg, rgba(38,203,0,1) 0%, rgba(230,206,0,1) 50%, rgba(205,0,0,1) 100%);
                        position: absolute; left: 0; z-index: 5;}
                    }
                    .tool_tip {opacity: 0; transition: .3s all; visibility: hidden; transform: translateX(-50%); position: absolute; 
                        left: 50%; top: 1.5rem; background: none;
                    }
                    &:hover {
                        .tool_tip {opacity: 1; visibility: visible;}
                    }
                }
            }
            // .highcharts-root {background: linear-gradient(0deg, rgba(107,89,139,1) 0%, rgba(54,46,119,1) 100%)}
            .chart_wrap {display: flex; align-items: center; width: 100%;
                .main_chart {width: 40%; background: none; margin-right: 10rem; position: relative; display: flex; flex-wrap: wrap; justify-content: center; 
                    padding: 1rem;
                    &>div {width: 100%; height: 20rem;}
                }
                li {display: flex; align-items: center;}
                .child_charts {width: calc(60% - 10rem);
                    &>li,&>li>i {position: relative; height: 10rem;
                        &>div {height: 8rem; width: 60%; padding-right: 10rem;}
                        &>ul {width: 40%;
                            li {width: 100%;
                                div {width: 100%; height: 3rem; transition: .3s all;}
                            }
                        }
                        &>span {display: block; width: 40%; text-align: center;}
                    }
                    &>li>i {width: 100%; display: flex; position: static;}
                }
            }
            &.type2 {position: relative; width: 70rem; height: 40rem; overflow: hidden;
                .chart_wrap {position: absolute; transition: all .3s; left: 0; top: 50%; transform: translateY(-50%); width: calc(100vw - 35rem);
                    &.depth2 {left: -57rem; transform: scale(1.2) translateY(-37%);  top: 50%;
                        .move_depth {transform: rotate(180deg);}
                        i>.move_depth {right: 40rem !important;}
                    }
                    &.depth3 {left: -107rem; transform: scale(1.2) translateY(-37%);
                        .move_depth {transform: rotate(180deg); top: 0;}
                        .child_charts {
                            &>li {height: 40rem;
                                .move_depth {right: 40rem; font-size: 2.5rem; padding-right: 5rem;}
                                &>i>ul {
                                    li {
                                        div {width: 100%; height: 8rem;}
                                    }
                                }
                            }
                            &>li>ul> li div {height: 12rem;}
                        }
                    }
                    .child_charts {
                        &>li {
                            .move_depth {right: 32rem; font-size: 2.5rem; padding-right: 10rem;}
                        }
                    }
                    .move_depth {position: absolute; right: -2.5rem; height: calc(100% - 2rem); width: 2rem; display: flex; align-items: center; flex-wrap: wrap; 
                        font-size: 3rem;
                        span {cursor: pointer;}
                    }
                    &.focus-1 {top: 52rem;}
                    &.focus-2 {top: 4rem;}
                    &.focus-3 {top: -44rem;}
                }
                // &::after {display: block; content: ''; width: 25rem; height: 1px; background: red; position: absolute; right: 0; top: 95px;}
            }
        }
    }

    .gauge-container {width: 300px; margin: auto; text-align: center;
    $gauge-full-color: #4caf50; // 진한 초록색
    $gauge-partial-color: #a5d6a7; // 연한 초록색
    $gauge-bg-color: #e0e0e0; // 게이지 배경 색상
    $gauge-border-color: #ccc; // 게이지 경계선 색상
    $gauge-width: 40px; // 세로형 게이지 너비
    $gauge-height: 100px; // 세로형 게이지 높이
    $transition-duration: 0.3s; // 애니메이션 지속 시간
    ul {list-style-type: none; padding: 0; display: flex;
        li {margin: 20px 0; display: flex; flex-direction: column; align-items: center; width: 5rem;}
    }
        .gauge {display: flex; flex-direction: inherit; transform: rotate(180deg); width: $gauge-width; height: $gauge-height; margin-bottom: 10px; 
            background-color: $gauge-bg-color; border: 1px solid $gauge-border-color; border-radius: 5px; overflow: hidden;
            .gauge-bar {flex: 1; width: 100%;  transition: background-color $transition-duration ease; 
                &-full { background-color: $gauge-full-color; height: 1rem;
                    &:not(:last-child) {border-top: 1px solid lighten($gauge-border-color, 10%);}
                }
                &-partial {background-color: $gauge-partial-color; height: 1rem;}
            }
            &>div {background-color: #e0e0e0;}
        }
    .title {font-size: 14px; color: darken(#333, 10%); margin-top: 5px;}
        button {margin-top: 20px; padding: 8px 16px; background-color: $gauge-full-color; color: white; border: none; border-radius: 5px;
            cursor: pointer; transition: background-color $transition-duration ease;
            &:hover {background-color: darken($gauge-full-color, 10%);}
        }
    }
    .temporary {margin-left: 52px;
        img {margin: 6.5rem 0 0 5rem;}
    }
    .full_menu {position: fixed; width: calc(100vw - 5rem); height: 100vh; z-index: 20; color: #000; top: 0; left: 5rem; background: #fff;
        align-items: center; justify-content: center; display: flex; flex-wrap: wrap;
        .depth1 {width: 90rem; display: flex; flex-wrap: wrap;
            &>li {padding: 3rem;
                strong {font-size: 2.5rem;}
                .depth2 {padding: 1rem 0 .5rem 2rem; font-size: 1.8rem;
                    &>li {
                        .depth3 {padding: 1rem; font-size: 1.4rem;}
                    }
                }
            }
        }
    }
}